<template>
  <div class="large">
    <img
      :src="'images/large/' + image"
      alt="Large Image"
      width="430"
      height="360"
    />
    <div class="details">
      <p><strong>Title</strong> {{ title }}</p>
      <p><strong>Description</strong> {{ description }}</p>
      <p><strong>Cost</strong> ${{ cost }}</p>
      <p><strong>ID #</strong> {{ id }}</p>
      <p><strong>Thumbnail File</strong> {{ thumbnail }}</p>
      <p><strong>Large Image File</strong> {{ image }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    cost: {
      type: String,
      require: true,
      default: '0.00',
    },
    thumbnail: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.large {
  margin: 25px auto;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.large img {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.details {
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 250px;
}

.details p {
  border-top: 1px solid #ddd;
  font-size: 12px;
  margin: 0;
  padding: 7px 0;
}

.details strong {
  background: #555;
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  padding: 2px 5px;
  text-transform: uppercase;
}
</style>
