<template>
  <a :class="{ active }" class="thumbnail" :title="id" @click="handleClick()">
    <img :src="url" :alt="id + '-m'" width="145" height="121" />
    <span>{{ id }}</span>
  </a>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    url: {
      type: String,
      required: true,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleClick() {
      this.$emit('click', this.id)
    },
  },
}
</script>

<style scoped>
.thumbnail {
  color: #777;
  float: left;
  margin: 0 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.thumbnail img {
  border: 5px solid transparent;
  display: block;
  margin: 0 0 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.thumbnail:hover img {
  border-color: #eee;
}

.thumbnail:active img {
  border-color: #aaa;
}

.active img,
.active:hover img {
  border-color: #a41d0f;
}

.thumbnail span {
  background: #eee;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 12px;
  margin: 5px auto 0 auto;
  padding: 2px 15px;
}

.thumbnail:hover span {
  background: #ddd;
}

.thumbnail:active span {
  background: #aaa;
  color: #fff;
}

.thumbnail.active span {
  background: #a41d0f;
  color: #fff;
}
</style>
