<template>
  <Nuxt />
</template>

<style>
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: #eee;
  color: #333;
  font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 50px;
  text-align: center;
}
#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}
</style>
