<template>
  <div class="container">
    <LargeView
      v-if="activeItem"
      :id="activeItem.id"
      :key="activeItem.id"
      :title="activeItem.title"
      :description="activeItem.description"
      :cost="activeItem.cost"
      :thumbnail="activeItem.thumbnail"
      :image="activeItem.image"
    />
    <div class="thumbnails">
      <Thumbnail
        v-for="item in items"
        :id="item.id"
        :key="item.id"
        :url="'images/thumbnails/' + item.thumbnail"
        :active="activeItem !== null && activeItem.id === item.id"
        @click="setActiveItem(item)"
      />
      <span
        :class="{ disabled: page === 0 }"
        class="prev"
        title="Prev"
        @click="handlePrev()"
      >
        Prev
      </span>
      <span
        :class="{ disabled: (page + 1) * 4 >= total }"
        class="next"
        title="Next"
        @click="handleNext()"
        >Next</span
      >
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Thumbnail from '~/components/Thumbnail.vue'
import LargeView from '~/components/LargeView'

export default {
  components: {
    LargeView,
    Thumbnail,
  },
  data() {
    return {
      activeItem: null,
      items: [],
      page: 0,
      total: 0,
    }
  },
  async mounted() {
    const resCount = await axios.get('api/count')
    this.total = resCount.data.count
    await this.updateItems()
    this.activeItem = this.items[0]
  },
  methods: {
    setActiveItem(item) {
      this.activeItem = item
    },
    handlePrev() {
      if (this.page > 0) {
        this.page--
        this.updateItems()
      }
    },
    handleNext() {
      if ((this.page + 1) * 4 < this.total) {
        this.page++
        this.updateItems()
      }
    },
    async updateItems() {
      const { data } = await axios.get(
        `api/data?offset=${this.page * 4}&count=4`
      )
      this.items = data.items
    },
  },
}
</script>

<style>
.container {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 25px;
  width: 860px;
}
.large {
  margin: 25px auto;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.large img {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.details {
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 250px;
}

.details p {
  border-top: 1px solid #ddd;
  font-size: 12px;
  margin: 0;
  padding: 7px 0;
}

.details strong {
  background: #555;
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  padding: 2px 5px;
  text-transform: uppercase;
}

.thumbnails {
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 10px 45px;
  width: 660px;
}

.thumbnails .prev,
.thumbnails .next {
  height: 24px;
  position: absolute;
  text-indent: -9999em;
  top: 64px;
  width: 24px;
}

.prev {
  background: url(../assets/previous.png) no-repeat 0 0;
  left: 10px;
}

.next {
  background: url(../assets/next.png) no-repeat 0 0;
  right: 10px;
}

.prev:hover,
.next:hover {
  opacity: 0.6;
}

.prev:active,
.next:active {
  opacity: 1;
}

.disabled {
  opacity: 0.2 !important;
}
</style>
